
.emoji{
font-size: 100px;
}

@media only screen and (max-width:800px){
    .tempDiv{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 1rem;
    }
    .h1TempDiv{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
 
}