*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.emoji{
font-size: 100px;
}

body{
    background-color: #000;
}

.All-projects{
margin: 8rem 5rem 0rem 5rem;
}

.snacko1 h2, span{
    color: #fff;
   
}

.snacko1{
    margin-top: 0rem !important;
    /* padding-top: 2rem; */
    padding:1rem;
    border: 2px solid green;
   display: flex;
   flex-direction: row;
   background-color: #212223;
}
.proDescrp{
    display: flex;
    width: 80%;
    flex-direction: column;
   
}
.linksAllpro{
display: flex;
align-items: center;
justify-content: flex-end;
width: 20%;
gap: 16px;
}





@media only screen and (max-width:800px){
    .tempDiv{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 1rem;
    }
    .h1TempDiv{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .All-projects{
        margin: 8rem 1rem 0rem 1rem;
        }

        .snacko1{
            padding:1rem;
            border: 2px solid green;
           display: flex;
           flex-direction: column;
           gap: 15px;
        }
 
        .proDescrp{
            display: flex;
            width: 100%;
            flex-direction: column;
        }
        .linksAllpro{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        }
}