*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1{
    height: 100vh;
}

.containers-home{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Con1{
    flex:65%;
    background-color: #070707;
    height: 100vh;
    display: flex;
align-items: flex-start;
justify-content:center;
flex-direction: column;
   padding-left: 5rem;
}

.Con2{
    flex:35% !important;
    height: 100vh;
    background-color: #070707;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.Con1 h1{

color: #fff;
font-size: 5rem;
font-weight: 800;
/* padding-left: 2rem; */
cursor:grab;

}
.Con1 h4, .Con1 h6{
    color: #fff;
   
    font-size: 2rem;
}

.Con1-p2{
    font-size: 1.1rem;
    color: #fff;
    /* padding-left: 2rem; */
    padding-bottom: 0.2rem;    
}
.Con1-p1{
    font-size: 1.5rem;
    color: #fff;
    /* padding-left: 2rem; */
    padding-bottom: 0.2rem;
}
.Text-fllstck{
    color:  #37c337;
    font-weight: 700;
}

.outerCon1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
 
}

.rocket{
    height: 90vh;
    background-color: #070707;
    display: flex;
    align-items:flex-end;
    justify-content: end;
}

.section2{
    background-color: #070707;
}

.parainCon1{
    color: #fff;
}



/* //////////////////////////////////////////////// */

/* Define scrollbar width and color */
::-webkit-scrollbar {
    width: 7px; /* Adjust the width as needed */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #232323; /* Change the background color */
   
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; /* Change the scrollbar handle color */
    border-radius: 50px;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  #48b512; /* Change the scrollbar handle color on hover */

  }

  /* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; Change the background color */
   
}
.section1{
    background-color: #070707;
}

@media only screen and (max-width:800px){
    .containers-home{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .Con1{
        padding-left: 1.5rem;
        padding-right: 1.5;
        justify-content: flex-start;
        align-items: flex-start ;
        padding-top: 7rem;
    }
    .outerCon1{
        width: 100%;
    }
    .Con1{
        flex:100%;
        background-color: #070707;
        height: auto;
        display: flex;
    align-items: flex-start;
    justify-content:center;
    flex-direction: column;
       padding-left: 1rem;
       padding-bottom: 2rem;
       padding-right:2rem
    }
.outerCon1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* flex-direction: column; */
 
}

.Con2{
    /* flex:100% !important; */
    height: 100vh;
    background-color: #070707;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 0rem 0rem;
    /* display: ; */
    
}
.rocket{
    height: 90vh;
    background-color: #070707;
    display: none;
    align-items:flex-end;
    justify-content: end;
}
.section1{
    height: 100vh;
}
.Con1 h1{

    color: #fff;
    font-size: 3.5rem;
    font-weight: 800;
    /* padding-left: 2rem; */
    cursor:grab;
    
    }

}