*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mai-con{
    background-color: #070707;
}

.skillsss{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0rem 5rem;
    flex-direction: row-reverse;
}
.skillsss h1{
    color: #fff;
    text-align: center;
    font-size: 3rem;
    padding-top: 0rem;
    font-weight: 900;
}

.linee{
height: 1px;
background-color: grey;
flex:1;
margin-right: 2rem;
margin-top: 5px;
}

.dott{
    color:green;
    }

.image img{
    width: 100%;
    height: 15rem;
    border-radius: 30px;
    object-fit: cover;
    padding: 1rem;
    transition: transform 0.7s ease;
}

.image{
    background-color: #232323;
    border-radius: 10px 10px 0px 0px;
    transition: transform 0.5s ease;
}

/* .image:hover img{
scale: 1.03;
transform: rotate(-2deg);
} */
.mai-con{
    background-color:#070707;
}

.big-box-work{
    margin: 0rem 5rem 0rem 5rem;
    padding: 0rem 0rem 0rem 0rem;
    /* gap: 1rem; */
    display: flex;
    flex: 1;
    /* justify-content: center;
    align-items: center; */
}


.con1-work,.con2-work,.con3-work{
padding: 2rem 1.5rem;
border-radius: 10px;
background-color: #070707;
flex: 1;

}
.con2-work{
    /* background-color: purple; */
}
.con1-work{
    /* background-color: blue; */
}
.con3-work{
    /* background-color: brown; */
}

.label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0rem 0rem;
    flex-direction: row;
    /* padding: 1rem 0rem; */
    padding-top: 1rem;

}
.h-line{
    height: 1px;
    background-color: grey;
    flex:1;
    margin-left: 1rem;
    margin-top: 5px;
}

.label h3{
    color: #fff;
    text-align: center;
    /* font-size: 3rem; */
    padding-top: 0rem;
    /* font-weight: 900; */
}

.techInfo p{
    color: green;
    font-weight: 700;
    font-size: 1.1rem;
}
.techInfo{
    padding: 1rem 0rem 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.spanInTechUsed{
    display: flex;
    align-items: center;
    justify-content: center;
}

.spanInTechUsed p{
    padding: 0rem 0.5rem;
    color: grey;
}

.descrp{
    color: #fff;
}

.descrp p span a {
    text-decoration: none;
    color: green;
    font-weight: 700;
}

.big-box-work2{
    margin: 0rem 5rem 0rem 5rem;
    padding: 0rem 0rem 3rem 0rem;
    /* gap: 1rem; */
    display: flex;
}

.button{
    margin-top: 1rem;
  
   
}

.button span{
background-color: green;
padding: 0.5rem;
border-radius: 5px;
text-decoration: none;
color: white;
}

.button a {
    color: #fff;
}

.readmoreRoyal a{
width: 100%;
color: #fff;
}

.Link {
    text-decoration: none;
}

.techInfo p a {
    color: grey;
}

@media only screen and (max-width:800px){
    .big-box-work{
        margin: 0rem 0rem 0rem 0rem;
        padding: 0rem 0rem 0rem 0rem;
        gap: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .big-box-work2{
        margin: 0rem 0rem 0rem 0rem;
        padding: 0rem 0rem 3rem 0rem;
        gap: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .skillsss{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0rem 1rem;
        flex-direction: row-reverse;
    }
  
    .skillsss h1{
        color: #fff;
        text-align: center;
        font-size: 2.5rem;
        padding-top: 0rem;
        font-weight: 900;
    }
    
.linee{
    height: 1px;
    background-color: grey;
    flex:1;
    margin-right: 1rem;
    margin-top: 5px;
    }
    .techInfo{
        padding: 1rem 0rem 1rem 0rem;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
    }
    .techInfo p{
padding-top: 1rem;
    }
    .techInfo p a {
        color: grey;
    }

    .btn-viewAll{
        margin: 1rem 2rem 0rem 1rem !important;
        font-weight: 700;
        /* margin: 1rem 6.5rem 0rem 5rem; */
        /* width: 8rem; */
        /* position: absolute; */
        /* right: 0rem; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
        border-radius: 10px;
    }
}

.btn-viewAll{
    font-weight: 700;
    margin: 1rem 6.5rem 0rem 5rem;
    /* width: 8rem; */
    /* position: absolute; */
    /* right: 0rem; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;   
    border-radius: 10px;
   
}
.visible-a{
    text-decoration: none;
    color: #fff;
    padding: 0.8rem 1rem;
    background-color: green;
    border-radius: 10px;
}


